name: windows
on: [push, pull_request]
jobs:
  runMultipleCommands:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [2.7]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Compile
        run: |
          python -m pip install vswhere
          frameworks\cocos2d-x\tools\cocos2d-console\bin\cocos.bat --agreement n compile -p win32
